resource "netbox_virtual_machine" "SERVERNAME" {
  cluster_id   = CLUSTER
  name         = "SERVERNAME"
  tags         = [ TAGS ]
  disk_size_gb = DISKSIZE
  memory_mb    = MEMSIZE
  vcpus        = "CPUS"
  role_id      = netbox_device_role.ROLE.id
  tenant_id    = netbox_tenant.TENANT.id
  local_context_data = jsonencode({
    "operating system" = "RELEASE"
    "rhel_org" = ORG 
    "activation_key" = "ACTKEY"
    "environment" = "ENVIRONMENT"
    "roles" = [ 
		ROLES
	]

  })
}

